@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

// Heading

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    // with sass, we can nesting inside other css. & symbol returns to h1, h2 or h3.
    // rem is font size unit. here the font is multiplied 6 times from default size. 
    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        // background: lighten($primary-color, $amount: 2);
    }
}

.text {

    h1 {
        color: #eeeeee;
        cursor: context-menu;

        span {
            display: inline-block;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-iteration-count: 1;

            &:hover {
                transition: all .5s;
                animation-name: rubberBand;
            }

            &.name {
                color: #00adb5;
            }

            &.m-left {
                margin-left: -5px;
            }

            @keyframes rubberBand {
                from {
                    transform: scale3d(1, 1, 1);
                }

                30% {
                    transform: scale3d(1.25, 0.75, 1);
                }

                40% {
                    transform: scale3d(0.75, 1.25, 1);
                }

                50% {
                    transform: scale3d(1.15, 0.85, 1);
                }

                65% {
                    transform: scale3d(.95, 1.05, 1);
                }

                75% {
                    transform: scale3d(1.05, .95, 1);
                }

                to {
                    transform: scale3d(1, 1, 1);
                }
            }
        }

        .wordCarousel {
            font-size: 36px;
            // font-weight: 100;
            color: #eeeeee;

            div {
                overflow: hidden;
                position: relative;
                float: right;
                height: 65px;
                padding-top: 10px;
                margin-top: -10px;

                li {
                    color: #eeeeee;
                    font-weight: 700;
                    padding: 0 10px;
                    height: 45px;
                    margin-bottom: 45px;
                    display: block;
                }
            }
        }

        .flip2 {
            animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
        }

        .flip3 {
            animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
        }

        .flip4 {
            animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
        }

        @keyframes flip2 {
            0% {
                margin-top: -180px;
            }

            5% {
                margin-top: -90px;
            }

            50% {
                margin-top: -90px;
            }

            55% {
                margin-top: 0px;
            }

            99.99% {
                margin-top: 0px;
            }

            100% {
                margin-top: -270px;
            }
        }

        @keyframes flip3 {
            0% {
                margin-top: -270px;
            }

            5% {
                margin-top: -180px;
            }

            33% {
                margin-top: -180px;
            }

            38% {
                margin-top: -90px;
            }

            66% {
                margin-top: -90px;
            }

            71% {
                margin-top: 0px;
            }

            99.99% {
                margin-top: 0px;
            }

            100% {
                margin-top: -270px;
            }
        }

        @keyframes flip4 {
            0% {
                margin-top: -360px;
            }

            5% {
                margin-top: -270px;
            }

            25% {
                margin-top: -270px;
            }

            30% {
                margin-top: -180px;
            }

            50% {
                margin-top: -180px;
            }

            55% {
                margin-top: -90px;
            }

            75% {
                margin-top: -90px;
            }

            80% {
                margin-top: 0px;
            }

            99.99% {
                margin-top: 0px;
            }

            100% {
                margin-top: -270px;
            }
        }
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);


    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        border-radius: 7px;
        text-align: center;
    }

    h5 {
        margin: 0;
    }
}

// work/projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px #fff solid;
        border-radius: 5px;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 1.5rem;
        border: 3px rgb(41, 41, 41) solid;
        border-radius: 7px;
        padding: 1rem 2rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);

            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

// button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
    border-radius: 5px;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
    border-radius: 5px;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
    align-items: center;
}

@import 'mobile';